{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load filters %}
{% block title %}TEST{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post" id="test_player">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-7">
                <div class="jumbotron">
                    <b>Question {{current_question.question_number}}:</b>
                    <p><b class="lead text-dark">{{current_question.question_text}}</b></p>
                    {{form|crispy}}

                    <input type='Submit'
                           class="btn btn-primary {% if current_question.question_number == 1 %}disabled{% endif %}"
                           name="prev"
                           value="Previous question">
                    <input type='Submit'
                           class="btn btn-primary {% if current_question.question_number == questions.count %}disabled{% endif %} "
                           name="next_to"
                           value="Next question">
                </div>
            </div>
            <!-- Navigate between questions-->
            <div class="col-md-5 jumbotron">
                <p>Quiz navigation</p>
                {% if questions %}
                {% for question in questions %}
                <input type='Submit'
                       class="btn {% if current_question.question_number == question.question_number %}btn-primary{% elif request.session|lookup:quiz_id|lookup:question.question_number %}btn-info{% else %}btn-outline-info{% endif %}"
                       name="next"
                       value="{{question.question_number}}"
                       style="margin-top: 3px;">
                {% endfor %}
                <button type="Submit" class="btn btn-primary" name="finish" style="margin-top: 3px;">Finish quiz
                </button>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}