{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load filters %}
{% block title %}TEST{% endblock %}
{% block content %}

    {% include "tutors/error_message.html" %}

    <form action="" method="post" id="test_player">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-10">
                <div class="jumbotron bg-light-blue">
                    <h5 class="font-weight-bold"><b>Question {{ current_question.question_number }}:</b></h5>
                    <h4 class="text-justify">{{ current_question.question_text }}</h4>
                    <div class="lead  text-justify">
                        {{ form.as_p }}
                    </div>
                    <input type='Submit'
                           class="btn btn-blue {% if current_question.question_number == 1 %}disabled{% endif %}"
                           name="prev"
                           value="Previous question">
                    <input type='Submit'
                           class="btn btn-blue {% if current_question.question_number == questions.count %}d-none{% endif %} "
                           name="next_to"
                           value="Next question">
                    <!-- Button trigger modal -->
                    {% if questions %}
                        {% if is_can_be_finished %}
                            <button type="button" class="btn btn-blue"
                                    data-toggle="modal" data-target="#exampleModalCenter">
                                Finish quiz
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <!-- Navigate between questions-->
            <div class="col-md-2">

                <p>Quiz navigation</p>
                {% if questions %}
                <div class="d-flex flex-wrap">
                    {% for question in questions %}

                        <input type='Submit'
                               class="btn btn-navigation btn-sm m-1 {% if current_question.question_number == question.question_number %}btn-blue{% elif request.session|lookup:quiz_id|lookup:question.question_number %}btn-light{% else %}btn-outline-light{% endif %}"
                               name="next"
                               value="{{ question.question_number }}">

                    {% endfor %}
                </div>
                    <br>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1"
                         role="dialog"
                         aria-labelledby="exampleModalCenterTitle"
                         aria-hidden="true">    
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                            <div class="modal-content bg-dark-blue">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="exampleModalLongTitle">Finishing
                                        quiz</h5>
                                    <button type="button" class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Do you want to finish quiz?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-light"
                                            data-dismiss="modal">Back
                                    </button>
                                    <button type="Submit" name="finish"
                                            class="btn btn-blue">Submit finish
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock content %}
