{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Make URL to join group "{{ group.name }}"{% endblock %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{ form.media }}

<h1 class="text-center">Set quiz for "{{ group.name }}"</h1>

<div class="container col-md-8">
    <form method="post">
        {% csrf_token %}
        <div class="d-flex">
            <div class="col-md-6">
                {{ form.start|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.end|as_crispy_field }}
            </div>
        </div>
        <div class="col-md-12">
            {{ form.items_left|as_crispy_field }}
        </div>
        <div class="col-md-12" hidden>
            {{ form.group|as_crispy_field }}
        </div>
        <div class="col-md-12" hidden>
            {{ form.code|as_crispy_field }}
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-blue">
                Make URL
            </button>
            <a class="btn btn-outline-light ml-1" title="Back to groups list"
                href="{% url 'groups:mentor_group_update' group.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}