{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load cool_paginate %}


{% block title %}Create group{% endblock title %}

{% block content %}
<div class="container-fluid col-md-10">
    <div class="border-bottom">
        <p class="text-center font-weight-bold" style="font-size: 2rem;">
            Groups
        </p>
    </div>
    <div class="my-2">
        <form class="d-flex flex-wrap justify-content-between mt-n1" method="GET">
            <div class="d-flex mt-1">
                <input class="form-control" type="text" name="data_search" placeholder="Search" {% if search %}
                    value="{{ search_label }}" {% endif %}>
                <button class="btn btn-blue ml-1" type="submit">
                    <span class="fas fa-search"></span>
                </button>
            </div>
        </form>
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-blue">Create group</button>
        <div class="col-md-6 mx-auto">
            {{ form.name|as_crispy_field }}
        </div>
        {% if search %}
        <p>Search results for "{{ search_label }}":</p>
        {% else %}
        <p>Add Mentors:</p>
        {% endif %}
        {% if not object_list %}
        {% if search %}
        <p>There are no results that match your search.</p>
        {% else %}
        <p>There are no available mentors for this group yet.</p>
        {% endif %}
        {% endif %}
        {% for user in object_list %}
        <div class="col-md-6 mx-auto my-2">
            <div class="d-flex justify-content-between text-center bg-body-dark block-rounded">
                {% if user.image %}
                <img src="{{ user.image.url }}" alt="avatar" class="list_img m-1">
                {% else %}
                <img src="{% static 'default.png' %}" alt="avatar" class="list_img m-1">
                {% endif %}
                <h5 class="my-auto ml-4 mr-auto">{{ user.last_name }} {{ user.first_name }} ({{ user.username }})</h5>
                <input type="checkbox" name="mentor" value="{{ user.pk }}" class="my-auto mr-4">
            </div>
        </div>
        {% endfor %}
    </form>
    {% if is_paginated %}
    {% cool_paginate page_obj=page_obj %}
    {% endif %}
</div>
{% endblock content %}