{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load cool_paginate %}

{% block title %}Update group{% endblock title %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <a {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}</a>
            {% endfor %}
          </ul>
{% endif %}
<div class="container-fluid col-md-10">
    <div class="d-flex justify-content-between border-bottom">
        <p class="text-center font-weight-bold" style="font-size: 2rem;">
            Groups
        </p>
        <div class="my-2">
            <form class="d-flex flex-wrap justify-content-between mt-n1" method="GET">
                <div class="d-flex mt-1">
                    <input class="form-control" type="text" name="data_search" placeholder="Search" {% if search %}
                        value="{{ search_label }}" {% endif %}>
                    <button class="btn btn-blue ml-1" type="submit">
                        <span class="fas fa-search"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <form method="post" class="">
        {% csrf_token %}
        <div class="d-flex flex-wrap mt-1 mb-5">
            <label class="align-self-center ml-1 mt-1" for="id_name">Name</label>
            <input type="text" id="id_name" name="name" class="form-control col-md-6 ml-1 mt-1"
                value="{{ form.name.value }}" placeholder="Name" required autofocus>
            <button type="submit" class="btn btn-blue align-self-center ml-auto mt-1">Update group</button>
        </div>
        <p class="text-center">Choose mentor</p>
        {% if not object_list %}
        {% if search %}
        <p>There are no results that match your search.</p>
        {% else %}
        <p>There are no available mentors for this group yet.</p>
        {% endif %}
        {% endif %}
        {% for user in checked_mentors %}
                {% if user not in object_list %}
                <input type="checkbox" style="visibility: hidden" name="mentor" value="{{ user.pk }}" checked>
                {% endif %}
                {% endfor %}
        <div class="d-flex flex-wrap">
            {% for user in object_list %}
            <div class="col-md-6 my-2">
                <div class="d-flex justify-content-between text-center bg-body-dark block-rounded">
                    {% if user.image %}
                    <img src="{{ user.image.url }}" alt="avatar" class="list_img m-1">
                    {% else %}
                    <img src="{% static 'default.png' %}" alt="avatar" class="list_img m-1">
                    {% endif %}
                    <h5 class="my-auto ml-4 mr-auto">{{ user.last_name }} {{ user.first_name }} ({{ user.username }})</h5>
                    <input type="checkbox" name="mentor" value="{{ user.pk }}" class="my-auto mr-4"
                        {% if user in checked_mentors%}checked{% endif %}>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
    {% if is_paginated %}
    {% cool_paginate page_obj=page_obj %}
    {% endif %}
</div>
{% endblock content %}