{% extends 'base.html' %}
{% block title %}Groups of {{ user.username }}{% endblock %}
{% block content %}
    <h1>Groups of {{ user.username }}</h1>
    {% block groups %}
        <div class="container-fluid bg-1 main col-md-10">
            <div class="float-right">
                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'groups:mentor_groups_view' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           name="data_search">
                    <div class="btn-toolbar">
                        <button class="btn btn-outline-success my-2 my-sm-0"
                                style="margin-right: 10px;" type="submit">Search</button>
                        <a class="btn btn-outline-danger my-2 my-sm-0" href ={% url 'groups:mentor_groups_view' %}>Clear</a>
                    </div>
                    <br>
                </form>
            </div><br>
        {% if search %}
            <b>Search results:</b>
        {% else %}
            <b>Groups:</b>
        {% endif %}
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Number of members</th>
      </tr>
    </thead>
    <tbody>
    {% if group_list %}
        {% for group in group_list %}

      <tr>
        <td>
            <a href="{% url 'groups:mentor_group_update' group.pk %}">{{ group }}</a>
        </td>
        <td>{{ group.total }}</td>
      </tr>
    {% endfor %}
        <br>
    {% else %}
        {% if search %}
            <p>There are no results that match your search.</p>
        {% else %}
            <p>You have no groups of students yet.</p>
        {% endif %}
    {% endif %}
    </tbody>
  </table>

        {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>&nbsp;&nbsp;</li>
    {% else %}
      <li class="disabled"><span>&laquo;</span>&nbsp;&nbsp;</li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active" style="color: #cd0a0a"><span>{{ i }} <span class="sr-only">(current)</span>&nbsp;</span></li>
      {% else %}
        <li><a href="?page={{ i }}"> {{ i }} </a>&nbsp;</li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
        </div>
    {% endblock groups %}
{% endblock content %}
