{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load cool_paginate %}

{% block title %}Groups of {{ user.username }}{% endblock %}
{% block content %}
  {% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Groups" "groups:mentor_groups_view" %}
    <div style="color: blue">
    {% render_breadcrumbs %}
    </div>
  {% endblock %}

    <h1>Groups of {{ user.username }}</h1>
    {% block groups %}
        <div class="container-fluid col-md-10">
            <div class="float-right">
                <form class="form-inline my-2 my-lg-0" method="get"
                      action="{% url 'groups:mentor_groups_view' %}">
                    <input class="form-control mr-sm-2" type="search"
                           placeholder={{ search_label }} aria-label="Search"
                           name="data_search">
                    <div class="btn-toolbar">
                        <button class="btn btn-outline-success my-2 my-sm-0"
                                style="margin-right: 10px;" type="submit">Search</button>
                        <a class="btn btn-outline-danger my-2 my-sm-0"
                          href ="{% url 'groups:mentor_groups_view' %}">Clear</a>
                    </div>
                    <br>
                </form>
            </div><br><br>
        {% if search %}
            <strong>Search results for "{{ search_label }}":</strong>
        {% else %}
            <strong>Groups:</strong>
        {% endif %}
  {% if group_list %}
  <table class="table table-hover table-striped table-bordered table-sm">
      <thead class="thead-light">
      <tr>
          <th class='w-30'>Name</th>
          <th class='w-30' style="text-align: center; width: 15%">Set Test</th>
          <th style="text-align: center; width: 15%">Result
          <th style="text-align: center; width: 15%">Members</th>
      </tr>
      </thead>
      <tbody>
      {% for group in group_list %}
      <tr>
          <td class="align-bottom">
              <a class="align-middle"
                 href="{% url 'groups:mentor_group_update' group.pk %}">
                 {{ group }}</a>

              <a class="btn btn-light aligned float-right"
                 href="{% url 'groups:mentor_group_update' group.pk %}">
                  <span class="fa fa-edit"></span></a>
          </td>

          <td style="text-align: center">
              {% if group in has_quiz %}
              <a class="btn btn-warning"
                 href="{% url 'groups:shedule_group_list' group.pk %}">
                  <span class="fa fa-clock"></span></a>
              {% else %}
              <a class="btn btn-light"
                 href="{% url 'groups:shedule_group_list' group.pk %}">
                  <span class="fa fa-clock"></span></a>
              {% endif %}
          </td>
          <td style="text-align: center">
              <a class="btn btn-light"
                 href="{% url 'quiz:result-chart-group' group.pk group.name %}">
                  <span class="fas fa-chart-bar"></span></a>
          </td>
          <td class="align-middle" style="text-align: center"><a>{{ group.total }}</a></td>
      </tr>
      {% endfor %}
      <br>
      {% else %}
      {% if search %}
      <p>There are no results that match your search.</p>
      {% else %}
      <p>You have no groups of students yet.</p>
      {% endif %}
      </tbody>
  </table>
{% endif %}

    {% if is_paginated %}
        {% cool_paginate page_obj=page_obj %}
    {% endif %}

        </div>
    {% endblock groups %}
{% endblock content %}
