<!-- Button trigger modal -->
<button type="button" class="btn btn-blue" data-toggle="modal" data-target="#explanationOfIndicatorsModalLong">
  Explanation of indicators
</button>

<!-- Modal -->
<div class="modal fade" id="explanationOfIndicatorsModalLong" tabindex="-1" role="dialog" aria-labelledby="explanationOfIndicatorsTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="explanationOfIndicatorsTitle">Explanation of indicators</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark">
        <b>Power Distance Index (PDI)</b>
        <p class="text-dark">Power Distance is defined as the extent to which the less powerful
        members of institutions and organizations within a society expect and
            accept that power is distributed unequally.</p>
          <strong>Individualism Index (IDV)</strong>
        <p class="text-dark">Individualism is the opposite of Collectivism. Individualism stands for a
        society in which the ties between individuals are loose: a person is
        expected to look after himself or herself and his or her immediate family
        only. Collectivism stands for a society in which people from birth onwards
        are integrated into strong, cohesive in-groups, which continue to protect
            them throughout their lifetime in exchange for unquestioning loyalty.</p>
          <strong>Masculinity Index (MAS)</strong>
        <p class="text-dark">Masculinity is the opposite of Femininity. Masculinity stands for a society
        in which social gender roles are clearly distinct: men are supposed to be
        assertive, tough, and focused on material success; women are supposed
        to be more modest, tender, and concerned with the quality of life.
        Femininity stands for a society in which social gender roles overlap: both
        men and women are supposed to be modest, tender, and concerned
            with the quality of life.</p>
          <strong>Uncertainty Avoidance Index (UAI)</strong>
        <p class="text-dark">Uncertainty Avoidance is defined as the extent to which the members of
        institutions and organizations within a society feel threatened by
            uncertain, unknown, ambiguous, or unstructured situations.</p>
          <strong>Long Term Orientation Index (LTO)</strong>
        <p class="text-dark">Long Term Orientation is the opposite of Short Term Orientation. Long
        Term Orientation stands for a society which fosters virtues oriented
        towards future rewards, in particular adaptation, perseverance and thrift.
        Short Term orientation stands for a society which fosters virtues related
        to the past and present, in particular respect for tradition, preservation of
            “face”, and fulfilling social obligations.</p>
          <strong>Indulgence versus Restraint Index (IVR)</strong>
        <p class="text-dark">Indulgence stands for a society which allows relatively free gratification
        of some desires and feelings, especially those that have to do with
        leisure, merrymaking with friends, spending, consumption and sex. Its
        opposite pole, Restraint, stands for a society which controls such
            gratification, and where people feel less able to enjoy their lives.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
