{% extends 'base.html' %}
{% block title %}All quizzes{% endblock %}
{% block content %}
    <h1>Quizzes</h1>
    {% block all_quizzes %}
        <div class="container-fluid bg-1 main col-md-10">
            <div class="float-right">
                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'quiz:quizzes-list' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           name="data_search">
                    <div class="btn-toolbar">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        <button class="btn btn-outline-danger my-2 my-sm-0" name="clear" type="reset">Clear</button>
                    </div>
                    <br>
                </form>
            </div><br>

            <p>All quizzes:</p>
            <a class="btn btn-primary" style="margin-bottom: 10px; background-color: cornflowerblue" href="{% url 'quiz:create-quiz' %}">Create quiz</a>
            {% if quizzes %}
                {% for quiz in quizzes %}
                    <li class="list-group-item">
                        <a href="">{{ quiz }} :</a>
                        <a class="btn-outline-info"
                           href="{% url 'quiz:update-quiz' quiz.pk %}">&#9998;</a>
                        <a class="btn-outline-info"
                           href="{% url 'quiz:delete-quiz' quiz.pk %}">&#10006;</a>
                    </li>
                {% endfor %}
                <br>
            {% else %}
                {% if search %}
                    <p>There are no results that match your search.</p>
                {% else %}
                    <p>You have not created any quizzes yet.</p>
                {% endif %}
            {% endif %}
        </div>
    {% endblock all_quizzes %}
{% endblock content %}
