{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>Create quiz</h1>
    <form method="post">{% csrf_token %}
        <div class="row">
        <div class="col-md-6">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.type_of_quiz|as_crispy_field }}
        </div>
        </div>
        {{ form.description|as_crispy_field }}
        <div class="d-flex">
            <button type="submit" class="btn btn-blue">
                Create quiz
            </button>
            <a class="btn btn-outline-light ml-1"
                    href="{% url 'quiz:quizzes-list' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
