{% extends 'abstract.html' %}
{% block sidebar %}
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Culture Analyzer</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <div class="row" style="margin: 0 auto">
                    {% if is_user_authenticated %}
                        <p class="circle_text" style="color: #6d7fcc;">V</p>
                        <p>{{ username }}</p>
                    {% else %}
                        <p class="circle_text" style="color: #6d7fcc;">A</p>
                        <p>Anonymous user</p>
                    {% endif %}
                </div>
            </li>

            <li>
                <a href="#">Home</a>
            </li>

            {% if is_user_authenticated %}
                {% block menu_items %}
                {% endblock menu_items %}
            {% endif %}

            <li>
                <a href="#">About</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            {% if is_user_authenticated %}
                <li>
                    <a href="#" class="feedback">Send feedback</a>
                </li>
            {% endif %}
            <li>
                <a href="#" class="contact_us">Contact us</a>
            </li>
        </ul>
    </nav>
{% endblock sidebar %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">

                    {% if is_user_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="#">
                            {{ username }}({{ user_role }})
                        </a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Sign out</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="#">Sign in</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#">Sign up</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <h1>Content</h1>
{% endblock content %}