{% extends 'base.html' %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Text</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in object_list %}
            <tr>
                <td style="vertical-align: middle">{{ feedback.feedback }}</td>
                <td>
                    <a style="font-size: 20px" class="btn btn-sm btn-default" href="#"><i class="far fa-edit text-primary"></i></a>
                    <a style="font-size: 20px" class="btn btn-sm btn-default" href="#"><i class="far fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>No feedbacks yet.</td>
            </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock content %}