{% extends 'base.html' %}

{% block title %}Feedback{% endblock %}

{% block content %}
<h1>Feedback</h1>
<p><strong>Text:</strong></p>
<p>{{feedback.feedback}}</p>
<p><strong>Range:</strong> {{feedback.min_value}}-{{feedback.max_value}}</p>
<p><strong>Indicator:</strong> {{feedback.indicator}}</p>
<br>
<a href="{% url 'recommendation-create' %}?feedback={{feedback.id}}" class="btn btn-blue">Add recommendation</a>
<hr>
<div class="table-responsive">
<table class="table table-hover block-rounded">
    <thead class="thead-light">
        <tr>
            <th scope="col">Text</th>
            <th scope="col" style="width: 15%">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for recommendation in feedback.recommendation_set.all %}
        <tr>
            <td class="align-middle">{{ recommendation.recommendation }}</td>
            <td>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-light btn-option" href="{% url 'recommendation-update' recommendation.id %}"><i class="far fa-edit"></i></a>
                    <a class="btn btn-light btn-option ml-1" href="{% url 'recommendation-delete' recommendation.id %}"><i class="far fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No recommendations yet.</td>
        </tr>
        {% endfor %}
        </tr>
    </tbody>
</table>
</div>
{% endblock %}