{% extends 'base.html' %}

{% load cool_paginate %}

{% block title %}Feedback{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between">
        <div></div>
        <h2>Feedback</h2>
        <div class="form-group row">
            <div class="col-sm-3">
                <a href="{% url 'feedback-create' %}" class="btn btn-blue">Add feedback</a>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="table-responsive">
        <table class="table table-hover block-rounded">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Text</th>
                    <th scope="col">Min</th>
                    <th scope="col">Max</th>
                    <th scope="col">Indicator</th>
                    <th class="text-center" scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for feedback in object_list %}
                <tr>
                    <td class="align-middle"><a href="{% url 'feedback-detail' feedback.id %}">{{ feedback.feedback|truncatechars:250 }}</a></td>
                    <td class="align-middle">{{ feedback.min_value }}</td>
                    <td class="align-middle">{{ feedback.max_value }}</td>
                    <td class="align-middle">{{ feedback.indicator }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light btn-option" href="{% url 'feedback-update' feedback.id %}"><i class="far fa-edit"></i></a>
                            <a class="btn btn-light btn-option ml-1" href="{% url 'feedback-delete' feedback.id %}"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No feedback yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if is_paginated %}
    <div class="d-flex justify-content-center">
        {% cool_paginate page_obj=page_obj %}
    </div>
    {% endif %}
{% endblock content %}