{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Answer list{% endblock %}
{% block content %}
<div class="container-fluid col-md-10">
    <h1><a class="btn btn-light"
           href="{%url 'tutors:questions_list' category_id=question.category_question.id %}">
        <splan class="fas fa-chevron-left"></splan></a>
        <b>Question:</b></h1>
    <h2 class="border-bottom">{{question.question_text}}</h2>

    <a class="btn btn-success float-right my-3"
       href="{% url 'tutors:create_answer' question_id=question.id %}"> Add
        new answer</a>
    {% if answers %}
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Answer</th>
            <th class="w-25" scope="col">Management</th>
        </tr>
        </thead>
        <tbody>
        {%for answer in answers %}
        <tr>
            <td><a>{{answer.answer_text}}</a></td>
            <td>
                <a class="btn btn-primary"
                   href="{% url 'tutors:update_answer' question_id=answer.question.id pk=answer.id%}">
                    <span class="fas fa-edit"></span></a>
                <a class="btn btn-danger"
                   href="{% url 'tutors:delete_answer' pk=answer.id %}">
                    <span class="fas fa-trash-alt"></span></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="mt-4">You have not created any answer from this question yet.</p>
    {% endif %}
</div>
{% endblock %}