{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Answer list{% endblock %}
{% block content %}
<div class="container-fluid col-md-10">
    <div class="form-group mt-2">
    <a class="btn btn-danger"
       href="{% url 'create_answer' question.id%}">Add new answer</a>
    </div>
    <h2>Table with answer {{answers.question.question_text}}:</h2>
    {% if answers %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Answer</th>
            <th scope="col">Management</th>
        </tr>
        </thead>
        <tbody>
        {%for answer in answers %}
        <tr>
            <td><a href=""> {{answer.answer_text}}</a></td>
            <td>
                <a class="btn btn-link btn-outline-info"
                   href="{% url 'update_answer' pk=answer.id %}">&#9998;
                </a>
                <!-- Button trigger modal -->
                <a class="btn btn-link btn-outline-info"
                   href="{% url 'delete_answer' pk=answer.id %}">
                    &#10006;</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You have not created any answer from this question yet.</p>
    {% endif %}
</div>
{% endblock %}