{% extends 'base.html' %}
{% block title %}Category detail{% endblock %}
{% block content %}
<div class="container-fluid col-md-10">
    <div class="form-group mt-2">
    <a class="" href="">{{object.category}}:</a>
    </div>
    {% if questions %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                <th scope="col">Management</th>
            </tr>
        </thead>
        <tbody>
        {%for question in questions %}
            <td>{{question.question_text}}</td>
            <td>2</td>
            <td>
                <a class="btn btn-link btn-outline-info"
                   href="">
                    &#10010;</a>
                <a class="btn btn-link btn-outline-info" href="#">&#9998;</a>
                <!-- Button trigger modal -->
                <a class="btn btn-link btn-outline-info" href="">
                    &#10006;</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You have not created any question in this category yet.</p>
    {% endif %}
</div>
{% endblock %}