{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create/Update question{% endblock %}
{% block content %}
<div class="container-fluid col-md-10">
    <div class="border-bottom mb-3">
        <p class="text-center font-weight-bold" style="font-size: 2rem;">
            {{ quiz.title.capitalize }}
        </p>
    </div>
    <form method="post" >
        {% csrf_token %}
        <div class="mx-auto col-md-8">
        {{ form.question_text|as_crispy_field }}
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-blue">
                Save
            </button>
            <a class="btn btn-outline-light ml-1" href="{%url 'quiz:detail-quiz' quiz.id%}">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %}