{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Category list{% endblock %}
{% block content %}
<div class="container-fluid col-md-10">
    <h1><a class="btn btn-light" href="{%url 'tutors:categories_list'%}">
            <splan class="fas fa-chevron-left"></splan></a>
        <b>Category:</b></h1>
    <h2 class="border-bottom">{{category.name}}</h2>

    <!--Success message about some action on the question-->
    {% include "tutors/success_message.html" %}

    <!-- Drop-down button in subcategory  -->
    {% if children %}
    <div class="btn-group dropleft my-2">
        <button class="btn btn-light" data-toggle="dropdown">
            <span class="fas fa-list-ul"></span> {{children.count}} Subcategory
        </button>
        <ul class="dropdown-menu">
            {% for child in children %}
            <li class="dropdown-item">
                <a href="{% url 'tutors:questions_list' child.id%}">
                    {{child.name}} <span class="badge badge-info">
                        {{child.num_question}}</span></a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <a class="btn btn-success float-right my-5"
       href="{% url 'tutors:create_question' category.id %}">Add new question</a>

    <!--Question search function by name-->
    <form class="form-inline mb-2" method="GET"
          action="{% url 'tutors:questions_list' category_id=category.id%}">
        <span class="fas fa-search"></span>
        <input class="form-control mx-2" type="text" name="question_search"
               placeholder="Search" {% if q %} value="{{q}}" {% endif %}>
    </form>

    {% if questions %}
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Question</th>
            <th class="w-25" scope="col">Number of answers</th>
            <th class="w-25" scope="col">Management</th>
        </tr>
        </thead>
        <tbody>
        {%for question in questions %}
        <tr>
            <td><a href="{% url 'tutors:answers_list' question.id %}">
                {{question.question_text}}</a></td>
            <td>{{question.num_answer}}</td>
            <td>
                <a class="btn btn-primary"
                   href="{%url 'tutors:create_answer' question.id %}">
                    <span class="fas fa-plus"></span></a>
                <a class="btn btn-primary"
                   href="{% url 'tutors:update_question' category_id=question.category_question.id pk=question.id %}">
                    <span class="fas fa-edit"></span></a>
                <a class="btn btn-danger"
                   href="{% url 'tutors:delete_question' pk=question.id %}">
                    <span class="fas fa-trash-alt"></span></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--include paginator-->
    {% include "tutors/pagination.html" with page=page_obj %}

    {% else %}
    <p class="mt-4">You have not created any question from this category yet.</p>
    {% endif %}
</div>
{% endblock %}
