{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Update group "{{ group.name }}"</h1>
    <div class="container">

        <form method="post">{% csrf_token %}
            <button type="submit" class="btn btn-primary; float-left"
                    style="margin-right: 10px; background-color:
                    cornflowerblue">Update group</button>
            <a class="btn btn-danger" title="Back to all groups"
               href="{% url 'admin_support:mentor_groups_view' %}">Back</a>
            {{ form|crispy }}
            <hr>
        </form>


    </div>
{% endblock content %}