{% extends 'base.html' %}
{% block title %}All quizzes{% endblock title%}
{% block content %}
<p>jhgjgjkhgkj</p>
{% for user1 in users %}
    <tr>
        <td>
            <p>ababagalamaga</p>
            {% for asd in profiles %}
                {{ asd }}
            {% endfor %}

        </td>
        <td>
            {{ user1.username }}
        </td>
        <td>

        </td>
    </tr>


{% empty %}
                    'without any active student123'
{% endfor %}
<form>
{{ formset }}
</form>
{% endblock content %}
