{%extends 'base.html' %}
{% load static  %}
{% load crispy_forms_tags %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form class="form-inline mb-5" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="data_search">
                <div class="btn-toolbar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
                <br>
            </form>
            <ul class="user_list">
                {% for user in users %}
                <li><a href="#">

                    {% if user.profile.image %}

                        <img src="{{ user.profile.image.url }}" alt="" class="circle_text" style="margin-left: -10px;">
                        {% else %}
                        <img src="{% static 'default.png' %}" alt="" class="circle_text" style="margin-left: -10px;">
                        {% endif %}
                        {{ user.username }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}