{% extends 'base.html' %}
{% block title %}
Culture Analyzer
{% endblock title %}
{% block content %}
<div class="pt-4 px-4 bg-body-dark block-rounded">
    <div class="row row-deck">
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-rounded block-link-pop text-center d-flex align-items-center" href="{% url 'profile' request.user.id %}">
                <div class="block-content">
                    <p class="mb-2 d-sm-block">
                        <i class="fa fa-pencil-alt text-gray fa-2x"></i>
                    </p>
                    <p class="font-w600 font-size-sm text-uppercase">Profile</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-rounded block-link-pop text-center d-flex align-items-center" href="javascript:void(0)">
                <div class="block-content">
                    <p class="mb-2 d-sm-block">
                        <i class="fas fa-user text-gray fa-2x"></i>
                    </p>
                    <p class="font-w600 font-size-sm text-uppercase">Users</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-rounded block-link-pop text-center d-flex align-items-center" href="javascript:void(0)">
                <div class="block-content">
                    <p class="mb-2 d-sm-block">
                        <i class="fas fa-users text-gray fa-2x"></i>
                    </p>
                    <p class="font-w600 font-size-sm text-uppercase">Groups</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-rounded block-link-pop text-center d-flex align-items-center" href="{% url 'quiz:quizzes-list' %}">
                <div class="block-content">
                    <p class="mb-2 d-sm-block">
                        <i class="fab fa-algolia text-gray fa-2x"></i>
                    </p>
                    <p class="font-w600 font-size-sm text-uppercase">Quizzes</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-rounded block-link-pop text-center d-flex align-items-center" href="{% url 'feedback-list' %}">
                <div class="block-content">
                    <p class="mb-2 d-sm-block">
                        <i class="far fa-comments text-gray fa-2x"></i>
                    </p>
                    <p class="font-w600 font-size-sm text-uppercase">Feedbacks</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-rounded block-link-pop text-center d-flex align-items-center" href="{% url 'country_indicator:country_indicator_list' %}">
                <div class="block-content">
                    <p class="mb-2 d-sm-block">
                        <i class="fab fa-font-awesome-flag text-gray fa-2x"></i>
                    </p>
                    <p class="font-w600 font-size-sm text-uppercase">Indicators</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}