{% extends 'base.html' %}
{% block anonymous_user %}
    <div class="password-reset-form">
        <form method='post' autocomplete="off">
            {% csrf_token %}
            <div class="form-title"><label>Type email for resetting
                password</label></div>
            <div class="reset_password">
                <input class="form-control" id="email" type="email"
                       name="email" maxlength="254" placeholder="Email"
                       title="Required. Inform a valid email address."
                       required>
                {{ values|linebreaks }}
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </div>
{% endblock anonymous_user %}
