{% extends 'base.html' %}
{% block anonymous_user %}
    <div class="password-reset-confirm">
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="form-title"><label>Enter your new password</label>
                </div>
                <div class="changing-password">
                    <input class="form-control" id="id-new-password1"
                           type="password" name="new_password1"
                           placeholder="New password"
                           title="Enter the new password" required>
                    {{ values|linebreaks }}
                    <input class="form-control" id="id-new-password2"
                           type="password" name="new_password2"
                           placeholder="Confirm password"
                           title="Enter the same password as before, for verification."
                           required>
                    {{ values|linebreaks }}
                    <button type="submit" class="btn btn-primary">Change
                        password
                    </button>
                </div>
            </form>
        {% else %}
            <p>
                The password reset link was invalid, possibly because it has
                already been used.
                Please request a new password reset.
            </p>
        {% endif %}
    </div>
    </div>
{% endblock anonymous_user %}
