{%extends 'base.html' %}
{% load static %}
{% block content%}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="profile-section col-md-10">
            <div>
                <div class="media">
                    {% if object.image %}
                    <img src="{{ object.image.url }}" alt="" class="circle_img img-fluid" style="margin-left: -10px;">
                    {% else %}
                    <img src="{% static 'default.png' %}" alt="" class="circle_img" style="margin-left: -10px;">
                    {% endif %}
                    <div class="media-body">
                        <a class="btn btn-outline-light mb-2" href="{% url 'profile-update' object.id %}">Edit profile</a><br>
                        <a class="btn btn-outline-light" href="{% url 'password-change' object.id %}">Change password</a>
                    </div>
                </div>
            </div>
            <div class="row mt-5 about">
                <div class="col-md-6">
                    <p>First name: <span class="info-text">{{ object.first_name }}</span></p>
                    <p>Last name: <span class="info-text">{{ object.last_name }}</span></p>
                </div>

                <div class="col-md-6">
                    <p>Username: <span class="info-text">{{ object.username }}</span></p>
                    <p>Email: <span class="info-text">{{ object.email }}</span></p>
                </div>
                <div class="col-md-6">
                    {% if object.date_of_birth %}
                    <p>Date of birth: <span class="info-text">{{ object.date_of_birth }}</span></p>
                    {% endif %}
                    {% if object.education %}
                    <p>Education: <span class="info-text">{{ object.education }}</span></p>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    {% if object.gender %}
                    <p>Gender: <span class="info-text">{{ object.gender }}</span></p>
                    {% endif %}
                    {% if object.experience %}
                    <p>Age of experience: <span class="info-text">{{ object.experience }}</span></p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>
{%endblock content%}
