{% extends 'base.html' %}

{% load cool_paginate %}

{% block title %}Countries indicators list{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary text-center" role="alert">
        <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
      </div>
    {% endfor %}
{% endif %}
    <div class="d-flex justify-content-between">
      <div></div>
      <h2>Countries' indicators</h2>
      <div class="form-group row">
          <div class="col-sm-3">
              <a href="{% url 'country_indicator:country_indicator_create' %}" class="btn btn-secondary">Create indicator</a>
          </div>
      </div>
    </div>
    <hr>
    <br>
    <div class="table-responsive">
        <table class="table table-hover block-rounded">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">ISO code</th>
              <th scope="col">Name</th>
              <th scope="col">PDI</th>
              <th scope="col">IDV</th>
              <th scope="col">MAS</th>
              <th scope="col">UAI</th>
              <th scope="col">LTO</th>
              <th scope="col">IVR</th>
              <th class="text-center" scope="col">Control</th>
            </tr>
          </thead>
          <tbody>
          {% for indicator in indicators %}
            <tr>
              <th class="align-middle" scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
              <td class="align-middle">{{ indicator.iso_code }}</td>
              <td class="align-middle">{{ indicator.name }}</td>
              <td class="align-middle">{{ indicator.pdi }}</td>
              <td class="align-middle">{{ indicator.ind }}</td>
              <td class="align-middle">{{ indicator.mas }}</td>
              <td class="align-middle">{{ indicator.uai }}</td>
              <td class="align-middle">{{ indicator.lto }}</td>
              <td class="align-middle">{{ indicator.ivr }}</td>

              <td>
                <div class="d-flex justify-content-center">
                  <a class="btn btn-light btn-option" href="{% url 'country_indicator:country_indicator_update' indicator.pk %}" role="button"><span class="fas fa-edit"></span> </a>
                  <a class="btn btn-light btn-option ml-1" href="{% url 'country_indicator:country_indicator_delete' indicator.pk %}" role="button"><span class="fas fa-trash-alt"></span></a>
                </div>
              </td>
            </tr>
          {% empty %}
            <p>There aren't any countries indicators.</p>
          {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
    {% if is_paginated %}
        {% cool_paginate page_obj=page_obj %}
    {% endif %}
    </div>

{% endblock %}
