@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f4f4;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;

}
.circle_text {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 16px;
    text-align: center;
    margin-left: 22px;
    margin-right: 20px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* -------------------------------------
    Login Page
 */

.input_attr {
    background: #f3f2f3;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 20px;
    height: 50px;
}

.login_form {
    background: #f3f2f3;
    width: 400px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 7px 4px 6px 1px rgba(0,0,0,0.75);
}

.button_attr {
    margin: 20px 0px 20px;
    background: #7b84e0;
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 200px;
}

.img_attr {
    margin-top: 30px;
    box-shadow: 7px 4px 6px 1px rgba(0,0,0,0.75);
}

@media screen and (max-width: 420px) {
    .login_form {
        width: 370px;
    }

    .input_attr {
        width: 330px;
    }

    .img_attr {
        width: 370px;
        height: 370px;
    }
}


@media screen and (max-width: 380px) {
    .login_form {
        width: 320px;
    }

    .input_attr {
        width: 280px;
    }

    .img_attr {
        width: 320px;
        height: 320px;
    }
}




.content-section {
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.user_list {
    list-style-type: none;
    margin-left: -40px;
}

.user_list li {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.photo_index {
    opacity: .4;
}

.contact_us {
    color: white;
    background: rgb(158, 10, 158);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid white;
}

.contact_us:hover {
    color: rgb(158, 10, 158);
    background: white;
    border: 1px solid rgb(158, 10, 158);
}

.btn-navigation {
margin-top: 3px; max-width: 35px; min-width: 35px;
}