@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #0E1621;
    color: #F5F5F5;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.feedback {
    background: #fff;
    color: #7386D5;
}

a.contact_us, a.contact_us:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

hr {
    color: #F5F5F5;
    background-color: #f5f5f5;
}

li {
    list-style-type: none;
}

/* -------------------------------------
    Login Page
 */

.input_attr {
    background: #f3f2f3;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 20px;
    height: 50px;
}

.login_form {
    background: #f3f2f3;
    width: 400px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 7px 4px 6px 1px rgba(0,0,0,0.75);
}

.button_attr {
    margin: 20px 0px 20px;
    background: #7b84e0;
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 200px;
}

.img_attr {
    margin-top: 30px;
    box-shadow: 7px 4px 6px 1px rgba(0,0,0,0.75);
}


.content-section {
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.content-section li {
    background: #ebd7ff;
}
/* ---------------------------------------------------
    HOME STYLE
----------------------------------------------------- */
.bg-body-dark{
    background-color: rgba(248,249,250, .1);
}

.block {
    background-color: #2B5278;
    margin-bottom: 1.75rem;
    box-shadow: 0 2px 6px rgba(231,234,243,.4);
    color: #F5F5F5;
}

.block:hover {
    color: #000000;
}

.block-rounded {
    border-radius: .25rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.block-content {
    transition: opacity .25s ease-out;
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem 1.25rem 1px;
    overflow-x: visible;
}

.navbar-custom {
    background-color: rgba(248,249,250, .1);
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-option{
    width: 50px;
}

table.table-hover > tbody > tr > *  {
    border-color: #c5c5c5;
}

.page-item.active > a{
    background-color: #2B5278 !important;
    border-color: #2B5278 !important;
}

.page-link{
    color: #444;
}

.page-link:hover{
    color: #555;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(36,36,36, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-blue {
    color: #F5F5F5;
    background-color: #2B5278;
    border-color: #2B5278;
}

.btn-blue:hover {
    background-color: rgb(29, 60, 92);
}

.btn-navigation {
    width: 4rem;
}
