{% extends 'abstract.html' %}
{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">Culture Analyzer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-item nav-link dropdown-toggle ite" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">
                            Mentor
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'feedback-list' %}">Feedbacks</a>
                            <a class="dropdown-item" href="{% url 'quiz:quizzes-list' %}">Quizzes</a>
                            <a class="dropdown-item" href="{% url 'tutors:questions_list' %}">Questions</a>
                            <a class="dropdown-item" href="{% url 'country_indicator:country_indicator_list' %}">Indicators</a>
                        </div>
                    </li>
                    <a class="nav-item nav-link" href="{% url 'profile' request.user.id %}">{{ request.user.username }}</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <h1>Content</h1>
{% endblock content %}
