{% extends 'abstract.html' %}
{% load static %}
{% block sidebar %}
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Culture Analyzer</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <div class="row" style="margin: 0 auto">
                    <p>
                {% if user.image %}
                    <img src="{{ user.image.url }}" alt="" class="circle_text">
                {% else %}
                    <img src="{% static 'default.png' %}" alt="" class="circle_text">
                {% endif %}</p>
                    {% if user.is_authenticated %}
                        <p style="margin-top: 15px;">{{ user.username }}</p>
                    {% else %}
                        <p style="margin-top: 15px;">Anonymous user</p>
                    {% endif %}
                </div>
            </li>

            <li>

                <a href="{% url 'home' %}">Home</a>
            </li>

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'feedback-list' %}">Feedbacks</a>
                </li>
                <li>
                    <a href="{% url 'quiz:quizzes-list' %}">Quizzes</a>
                </li>
                {% block menu_items %}
                {% endblock menu_items %}
            {% endif %}

            <li>
                <a href="#">About</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            {% if user.is_authenticated %}
                <li>
                    <a href="#" class="feedback">Send feedback</a>
                </li>
            {% endif %}
            <li>
                <a href="#" class="contact_us">Contact us</a>
            </li>
        </ul>
    </nav>
{% endblock sidebar %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="row">
                <ul class="nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a  class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'profile' user.id %}">
                            {{ user.username }}
                        </a></li>

                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> <span> Sign out</span> </a>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> <span>Sign in</span> </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"> <span>Sign up</span> </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <h1>Content</h1>
{% endblock content %}
